

.page-title-box{
    margin-bottom: 70px;
}

.about-us-grid{
    display: grid;
    gap: 100px;
    margin-bottom: 70px;
}

.about-us-grid > .cell{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 500px;
    gap: 50px;
}

.about-us-grid > .cell:nth-child(even){
    grid-template-columns: 1fr 1.5fr;
}

.about-us-grid > .cell > .image-section{
    --background-box-offset: 20px;
    position: relative;
}

.about-us-grid > .cell > .image-section > .image-holder{
    position: absolute;
    top: 0;
    left: 0;
    right: var(--background-box-offset);
    bottom: var(--background-box-offset);
}

.about-us-grid > .cell:nth-child(even) > .image-section > .image-holder > img{
    left: var(--background-box-offset);
    right: 0;
}

.about-us-grid > .cell > .image-section > .image-holder > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.about-us-grid > .cell > .image-section > .background-box{
    background-color: rgb(242, 242, 242);
    position: absolute;
    left: var(--background-box-offset);
    top: var(--background-box-offset);
    bottom: 0;
    right: 0;
}

.about-us-grid > .cell:nth-child(even) > .image-section > .background-box{
    left: 0;
    right: var(--background-box-offset);
}



.about-us-grid > .cell > .stacked-text-section{
    display: grid;
    align-content: center;
    position: relative;
    gap: 60px;
    top: 15px;
}

.about-us-grid > .cell > .stacked-text-section > .text-unit{
    line-height: 1.5;
    position: relative;
    color: rgb(100, 100, 100);
}

.about-us-grid > .cell > .stacked-text-section > .text-unit::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    top: -25px;
    left: 0;
    background-color: var(--theme-orange-color);
}


.about-us-grid > .cell > .text-section{
    align-self: center;
}

.about-us-grid > .cell > .text-section > .title{
    font-size: 45px;
    line-height: 1.1;
    position: relative;
}

.about-us-grid > .cell > .text-section > .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 80px;
    bottom: -20px;
    left: 0;
    background-color: var(--theme-orange-color);
}

.about-us-grid > .cell > .text-section > .description{
    line-height: 1.7;
    margin-top: 42px;
    font-size: 16px;
}

.about-us-grid > .cell > .text-section > .description .indented-list{
    margin-top: 20px;
    margin-left: 30px;
    display: grid;
    gap: 10px;
}

.about-us-grid > .cell > .text-section > .description .indented-list > *{
    position: relative;
    line-height: 1.4;
}
.about-us-grid > .cell > .text-section > .description .indented-list > *::before{
    content: '>';
    position: absolute;
    top: -0.1em;
    left: -20px;
    
}